{% extends 'apart_layout.html' %}

{% block apart %}
   <div class="container">
       <a href="{% url 'home' %}" class="">Back to home</a>
       <div class="row">
           <div class="col-md-6 offset-3 bg-light">
                {% if inds %}
                   <p class="text-center mt-3"><i class="{{inds.icon}}"></i></p>
                   <h2 class="text-center pb-3">{{inds.title}}</h2>
                   <p class="text-justify">{{inds.description}}</p>
                   {% endif %}
               </div>
       </div>
   </div>
{% endblock %}
