{% extends 'base.html' %}

{% block content %}

{% if empty %}
<h1>{{empty}}</h1>

{% else %}

<div class="search">
    <form action="{% url 'blogs:search' %}" method="POST" class="search-form">
        {% csrf_token %}
        <input type="text" placeholder="Search ..." name="searched-value" required>
        <input type="submit" value="Search">
    </form>
</div>

    <h1>Post Lists</h1>
    <div class="posts">
        {% for result in results %}
        <div class="post">
              <h2><a href="{% url 'blogs:detail' slug=result.slug %}">{{result.title}}</a></h2>
              <p>{{result.short_body}}</p>
              <p>{{result.date}}</p>
              <p class="author"><span>Author: </span>{{result.author}}</p>
        </div>
            {% endfor %}
    </div>
{% endif %}
{% endblock %}

