{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community-Posts</title>
</head>
<body>
<div class="wrapper">
        <header>
            <h1><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'accounts:logout' %}" class="logout-link" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                        <li><a href="{% url 'blogs:create' %}" class="highlight">New Article</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
        </header>
</div>

{% block content %}
{% endblock %}

</body>
</html>