{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community-Posts</title>
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
</head>
<body>
<div class="wrapper">
        <header>
            <div><a href="{% url 'home' %}"  class="wrapper__logo"><img src="{% static '/logo/logo.png' %}" alt=""></a>
             Community</div>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'accounts:logout' %}" class="logout-link" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                        <li><a href="{% url 'blogs:create' %}" class="highlight">New Post</a></li>
                        <li><p>{{user.username}}</p></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

                        {% endif %}
                    </ul>
                </nav>
        </header>
</div>

{% block content %}
{% endblock %}

</body>
</html>