{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community-Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% if context %}
<center>
    <p>Thanks to contact us!</p>
    <p>Your message received well!</p>
</center>
{% endif %}

    <nav class="navbar">
        <div class="max-width">
          <div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">What we do</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div>
                    <div class="text-1">A Community of Movie lovers</div>
                    <div class="text-2">"Here, it is a platform for movie lovers where we meet and chill by posting our concerns about a certain movie."</div>
                    <a href="#about" class="more-about">More About us</a>
                    <a href="{% url 'blogs:blog_home' %}">Join the Community</a>
                 </div>
            </div>
        </div>
    </section>

    <!-- about me section -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Us</h2>
            <div class="about-content">
                <div class="column right">
                    <div class="text">"We are movie news Generator."</div>
                    <p>We are a community which operates all over the world but our headquarter is located in Rwanda (KN 666st 1AV), our concern is movie updates and movie talk show where we meet and discuss how movies filmed, when a certain movie will be released from box office either hollywood,bollywood,nollywood and as well as hillwood, in simple words 'we are home movie news generator' </p>
                    <p>so movie lovers are most welcome to the their community and have chill with others either local or abroad. </p>
                </div>
                <div class="column left">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- service section start -->
    <section class="service" id="service">
        <div class="max-width">
            <h2 class="title">What we do</h2>
            <div class="service-content">
                <div class="card">
                    <div class="box">
                       <i class="fas fa-code"></i>
                        <div class="text">Film Reviews</div>
                        <p>We provide to you a web app that meets with your wishes</p>
                        <a href="">Read More</a>
                    </div>

                    <div class="box">
                        <i class="fas fa-blog"></i>
                        <div class="text">Movie Blogs</div>
                        <p>We design website for your commercial business or organization.</p>
                        <a href="">Read More</a>
                    </div>

                    <div class="box">
                        <img src="{% static 'images/events.svg' %}" alt="">
                        <div class="text">Events</div>
                        <p>New tech for developers for developing apps.</p>
                        <a href="">Read More</a>
                    </div>
               </div>
            </div>
        </div>
    </section>

    <!-- team section start -->
    <section class="team" id="team">
        <div class="max-width">
            <h2 class="title">Our Team</h2>
            <div class="team-content">
                <div class="column">
                    <div class="left-left">
                        <div><img src="{% static 'images/profile-1.jpg' %}" alt="" class="img"></div>
                       <div>
                           <p class="name">Name:<span class="desc">Aimable</span></p>
                           <p class="mate-title">Title:<span class="desc">Director</span></p>
                         <p class="desc">He is a director of movies such as Kanyana, Ibara,... </p>
                       </div>
                    </div>

                        <div class="right-right">
                            <div><img src="{% static 'images/profile-2.jpg' %}" alt="" class="img"></div>
                            <div>
                                <p class="name">Name:<span class="desc">Phillipe</span></p>
                                <p class="mate-title">Name:<span class="desc">Actor</span></p>
                                <p class="desc">He is one ever famous actor</p>
                            </div>
                        </div>
                </div>
        </div>

        </div>
    </section>
<section class="blog" id="blog">
        <div class="max-width">
            <h2 class="title">Blog Posts</h2>
            <div class="blog-content">
                <div class="card">
            {% if blogs %}
            {% for blog in blogs %}
                    <div class="box">
                        <img src="{{blog.thumb.url}}" alt="">
                        <p>{{blog.short_body}}</p>
                        <p>{{blog.slug}}</p>
                        <div class="text">{{blog.title}}</div>
                    </div>
            {% endfor %}
            {% else %}
            <h2>No blogs</h2>
            {% endif %}
                    </div>
            </div>
        </div>
    </section>
<!--    <section class="blog" id="blog">-->
<!--        <div class="max-width">-->
<!--            <h2 class="title">Blog Posts</h2>-->
<!--            <div class="blog-content">-->
<!--                <div class="card">-->

<!--                    {% if blogs %}-->
<!--                    {% for blog in blogs %}-->
<!--                    <div class="box">-->
<!--                        <img src="{{blog.thumb.url}}" alt="">-->
<!--                        <p>{{blog.short_body}}</p>-->
<!--                        <p>{{blog.slug}}</p>-->
<!--                        <div class="text">{{blog.title}}</div>-->

<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                    {% else %}-->
<!--                    <h2>No blogs</h2>-->
<!--                    {% endif %}-->

<!--&lt;!&ndash;                    <div class="box">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img src="{% static 'images/bad-genius.jpg' %}" alt="" >&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>Cheating at school becomes a business for earning mone</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>Eric</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="text">Bad Genius</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="box">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img src="{% static 'images/24-hours.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>Doing all job needed in 24 hours</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>Silento</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="text">24 Hours Chrono</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--               </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Get in touch</h2>
            <div class="contact-content">
                <div class="column">
                    <div class="left">
                        <h2>Social links</h2>
                        <div class="left-top">
                            <a href="https://www.instagram.com/aimablenyakamwe/"><img src="{% static 'images/instagram.svg' %}" alt=""></a>
                            <a href="https://twitter.com/N1Aimable"><img src="{% static 'images/twitter.svg' %}" alt=""></a>
                        </div>
                        <div class="left-down">
                            <a href="#"><img src="{% static 'images/facebook.svg' %}" alt=""></a>
                            <a href="" title="(+250 795439924)"><img src="{% static 'images/whatsapp.svg' %}" alt=""></a>
                        </div>


                    </div>
                    <div class="middle">
                        <h2>Site map</h2>
                        <a href="#home">Home</a>
                        <a href="#team">Our team</a>
                        <a href="#blog">Blog post</a>

                    </div>
                    <div class="right">
                        <h2>Contact us</h2>
                        {{message_name}}
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <input type="email" placeholder="Enter Email address" name="email" required>
                            <input type="text" placeholder="Enter Subject" name="subject" required>
                            <textarea name="body" id="" cols="30" rows="10" required></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <span>Created by N.A & Philly<span>| 2021 &copy; All Rights reserved.</span> </span>
    </footer>

</body>
</html>